{
  "plugins": [
    "add-module-exports",
    "syntax-object-rest-spread",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "test": {
      "plugins": [
        [ "istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
